$primary-color: #333;
$primary-background: #eee;

@import "./partials/nav";
@import "./partials/banner";
@import "./partials/footer";
@import "./partials/components";

h2 {
  color: dodgerblue
}
body {
  background-color: $primary-background;
  color: $primary-color;
  font-family: Helvatica sans-serif;
}
