$hero-height: 100vh;

.hero-section {
  background: url('../assets/HatchfulExport-All/linkedin_banner_image_2.png') 50% no-repeat;
  background-size: cover;
  height: $hero-height;

  // width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  
}
