nav {
  position: fixed;
  // position: fixed;
// top: 0px;
width: 100%;
// background-color: #242935;
// padding: 10px 0 15px 0
  ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: snow;
  }
  li {
    list-style: none;
    padding: 0 10px;
    &:not(:last-child){
      border-right: solid $primary-color 1px;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    // height: 1;
  }
}
