
.bg1 {
  background-image: url("../assets/landscape63-2024.jpg");
}
.bg2 {
  background-image: url("../assets/landscape63-2024.jpg");
}
.bg3 {
  background-image: url("../assets/vectorstock_969696.jpg");
  // background-image: url("../assets/vectorstock_969696.jpg");
}
.bg4 {
  background-image: url("../assets/04186_tokyotower_1366x768.jpg");
}

.parallax-image {
    /* The image used */

    // //
    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
